.heroContainer {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  overflow: hidden;
}


.heroContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.521);
  z-index: 0;
  border-radius: 12px;
}


.heroHeading {
  font-size: clamp(1.8rem, 4vw, 3rem);
  color: var(--color-white);
  margin-bottom: 10px;
}

.heroSubHeading {
  color: var(--color-bg-light);
  font-size: clamp(1rem, 2vw, 1.3rem);
  margin-bottom: 20px;
}

.heroBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.heroHeading,
.heroSubHeading,
.heroBtns {
  position: relative;
  z-index: 1;
}


.heroBtnWrapper {
  background: var(--color-primary-600);
  color: var(--color-white);
  border-radius: 30px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.heroBtnWrapper:hover {
  transform: scale(1.05);
}

.heroIcon {
  font-size: 1.2rem;
}

.analyseBtnWrapper {
  background-color: var(--color-white);
  color: var(--color-primary-800);
}

.heroBtn {
  border: none;
  background: transparent;
  color: inherit;
  font-size: 1.1rem;
  cursor: pointer;
}

.section{
  margin-top: 30px;
  background: linear-gradient(to bottom, rgba(240, 253, 244, 0), #ffffffe0 80%);
  padding: 20px 10px;
}

.sectionHeading{
  margin: 20px 0 10px 0;
  text-align: center;
  font-size: 2.5rem;
}

.separater{
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.541);
  margin-bottom: 10px;
}

.headingSpan{
  color: #348f6a;
}

.sectionContent{
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.sectionImage{
  width: 350px;
  aspect-ratio: 12/16;
  border-radius: 12px;
  object-fit: cover;
}

.textArea > p{
  margin-bottom: 20px;
}

.sectionText{
  font-size: 1rem;
}

.why{
  color: #23492a;
}

.solution{
  background-color: rgba(255, 255, 255, 0.849);
}

.solutionImage{
  width: 350px;
  aspect-ratio: 1;
}

.cleanSection{
  display: grid;
  place-items: center;
  mix-blend-mode: multiply;
}

.cleanImage{
  width: 350px;
  aspect-ratio: 1;
}

@media (max-width: 799px){
  .sectionContent{
    flex-direction: column;
  }

  .sectionHeading{
    font-size: 2rem;
  }

  .sectionImage{
    width: 100%;
    aspect-ratio: 16/9;
  }
}
