.heroContainer {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  overflow: hidden;
}


.heroContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.521);
  z-index: 0;
  border-radius: 12px;
}


.heroHeading {
  font-size: clamp(1.8rem, 4vw, 3rem);
  color: var(--color-white);
  margin-bottom: 10px;
}

.heroSubHeading {
  color: var(--color-bg-light);
  font-size: clamp(1rem, 2vw, 1.3rem);
  margin-bottom: 20px;
}

.heroBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.heroHeading,
.heroSubHeading,
.heroBtns {
  position: relative;
  z-index: 1;
}


.heroBtnWrapper {
  background: var(--color-primary-600);
  color: var(--color-white);
  border-radius: 30px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.heroBtnWrapper:hover {
  transform: scale(1.05);
}

.heroIcon {
  font-size: 1.2rem;
}

.analyseBtnWrapper {
  background-color: var(--color-white);
  color: var(--color-primary-800);
}

.heroBtn {
  border: none;
  background: transparent;
  color: inherit;
  font-size: 1.1rem;
  cursor: pointer;
}

.section {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 20px 50px;
}

.sectionHeading {
  margin: 20px 0 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: 2.4rem;
  color: black;
}

.sectionPara {
  font-size: 0.9rem;
  text-align: center;
  width: 50%;
  margin: auto;
  color: var(--color-text-light);
}

.sectionCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 35px;
  margin-top: 40px;
}

.sectionCard {
  display: grid;
  place-items: center;
  gap: 10px;
  padding: 25px;
}

.aiWorkingCard {
  border-radius: 12px;
  width: 30%;
  background: var(--color-bg-darker);
}

.aiWorkIcon {
  font-size: 4rem;
  border-radius: 50%;
  padding: 15px;
  background: #348f6a;
  color: white;
}

.aiWorkHeading {
  font-weight: 500;
  font-size: 1rem;
}

.aiWorkingText {
  font-size: 0.85rem;
  text-align: center;
  color: #252525;
}

.headingSpan {
  color: #348f6a;
}

.liveDemoSection {
  width: 100%;
  background-color: var(--color-bg-darker);
}

.demoContent {
  width: 100%;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 30px;
  align-items: center;
}

.demoImageDiv {
  margin-top: 30px;
  border-radius: 12px;
  overflow: hidden;
}

.demoImage {
  width: 100%;
}

.demoResultDiv {
  width: 100%;
  background-color: white;
  border-radius: 14px;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resultTop {
  display: flex;
  align-items: center;
  gap: 10px;
}

.recycleIcon {
  border-radius: 50%;
  padding: 10px;
  font-size: 2.5rem;
  background-color: #dcefe9;
  color: #348f6a;
}

.reycleContent {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.reycleContent>h3 {
  font-size: 1rem;
}

.reycleContent>p {
  font-size: 0.85rem;
}

.resultMid {
  border-radius: 14px;
  width: 100%;
  background-color: #a3d9ba71;
  padding: 15px;
}

.iconDiv {
  display: flex;
  gap: 10px;
  align-items: center;
}

.midIcon {
  border-radius: 50%;
  padding: 10px;
  font-size: 2rem;
  color: white;
  background-color: #1a5d41;
}

.midHeading {
  font-size: 1rem;
  color: #1a5d41;
}

.disposalSteps {
  padding: 15px 20px;
}

.disposalSteps>li {
  color: #10754c;
}

.resultBottom {
  border-radius: 14px;
  width: 100%;
  padding: 15px;
  background-color: rgba(179, 163, 216, 0.5);
}

.bottomIconDiv{
  gap: 5px;
}

.bottomIcon {
  border-radius: 50%;
  padding: 10px;
  font-size: 2.5rem;
  color: #6a2fef;
}

.bottomHeading {
  font-size: 1rem;
  color: #6a2fef;
  font-weight: 600;
}

.alternateSteps{
  padding: 15px 20px;
}

.alternateSteps > li{
  color: #7847ec;
}

.featuresDiv{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.resultFeatures{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultFeatureHeading{
  font-size: 1.1rem;
  color: #1a5d41;
}

.resultFeatureSubHeading{
  font-size: 0.85rem;
  color: #10754c;
}

.cleanSection {
  display: grid;
  place-items: center;
  mix-blend-mode: multiply;
  width: 100%;
}

.cleanImage {
  width: 350px;
  aspect-ratio: 1;
}

@media (max-width: 599px) {
  .section{
    padding: 20px 25px;
  }

  .aiWorkingCard {
    width: 100%;
  }

  .sectionHeading {
    font-size: 1.22rem;
  }

  .sectionPara {
    width: 100%;
    font-size: 0.8rem;
  }

  .demoContent{
    grid-template-columns: 1fr;
  }

  .cleanImage {
    width: 60%;
  }
}

@media (min-width:599px) and (max-width: 799px) {
  .aiWorkingCard {
    width: 47%;
  }

  .sectionHeading {
    font-size: 1.6rem;
  }

  .sectionPara {
    width: 90%;
    font-size: 0.85rem;
  }

  .demoContent{
    grid-template-columns: 1fr;
  }
}