.quizPage {
    position: relative;
    padding: 4rem 30px;
    min-height: 100dvh;
}

.subheading {
    font-size: 1.05rem;
    color: #587668;
    margin-bottom: 2.5rem;
    line-height: 1.5;
    text-align: center;
}

.levelIncreasedHeadingContainer {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.levelIncreasedHeading {
    font-weight: 500;
}

.afterEffect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.userQuizData {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.levelHeading {
    font-weight: 500;
}

.level {
    font-weight: 500;
}

.scoreCountContainer {
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    top: 20px;
    right: 30px;
    font-weight: 500;
}

.quizArea {
    background-color: white;
    padding: 12px 20px;
    border-radius: 14px;
    width: 65%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.quizQues {
    font-size: 1.3rem;
    padding: 10px;
}

.optionContainerUl {
    margin-top: 15px;
}

.option {
    list-style: none;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    background: rgb(226, 225, 225);
    cursor: pointer;
    ;
}

.option:hover {
    background: rgb(204, 203, 203);
    ;
}

.correctAnswer,
.correctAnswer:hover {
    background-color: #4CAF50;
    color: white;
}

.wrongAnswer,
.wrongAnswer:hover {
    background-color: #F44336;
    color: white;
}

.correct {
    font-weight: 500;
    background: linear-gradient(to right, #4CAF50, #a3e0a5);
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
}

.continueBtn {
    border: 0;
    outline: 0;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    align-self: flex-end;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

@media (max-width: 599px) {
    .subheading{
        font-size: 0.95rem;
    }

    .afterEffect {
        width: 100%;
    }

    .quizPage {
        padding: 2rem 10px;
    }

    .quizArea {
        width: 100%;
    }

    .quizQues {
        font-size: 1.1rem;
    }

    .option {
        font-size: 1rem;
    }
}

@media (min-width: 599px) and (max-width: 1200px) {
    .quizArea {
        width: 90%;
    }
}