.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 30px;
}

.heading {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #244d3b;
  margin-bottom: 0.5rem;
}

.subheading {
  font-size: 1.05rem;
  color: #587668;
  margin-bottom: 2.5rem;
  line-height: 1.5;
  text-align: center;
}

.lineBreak {
  background-color: rgb(199, 199, 199);
  height: 1px;
  width: 100%;
  border-radius: 12px;
}

.feed {
  width: 100%;
  max-width: 750px;
  margin-top: 15px;
}

.noPostImageContainer {
  max-width: 500px;
  margin: auto;
}

.noPostImage {
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    padding: 2rem 10px;
  }

  .subheading{
    font-size: 0.95rem;
  }
}