.loaderContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.075);
    z-index: 99;
}

.noScroll {
  overflow: hidden;
}

.loader{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 5px solid rgb(41, 41, 41);
    border-top-color: transparent;
    color: var(--text-color);
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}